<div class="dia-semana">
    <h2 class="dia-titulo">{{diaSemana}}</h2>
    <div class="mt-20">
        <label class="label-comida color">Desayuno: </label><label class="label-comida">{{comida.desayuno}}</label>
    </div>
    <div class="mt-20">
        <label class="label-comida color mr-15">Comida: </label><label class="label-comida">{{comida.comida}}</label>
    </div>
    <div class="mt-20">
        <label class="label-comida color mr-30">Cena: </label><label class="label-comida">{{comida.cena}}</label>
    </div>

    <div class="edit">
        <img class="img-edit" src="../../../assets/images/pen.png" alt="">
    </div>
</div>
