<app-header></app-header>
<div >
  <div class="row">
    <div class="col-4">
      <app-dia-semana [diaSemana]="'Lunes'" [comida]="comidas[0]"></app-dia-semana>
    </div>
    <div class="col-4">
      <app-dia-semana [diaSemana]="'Martes'" [comida]="comidas[1]"></app-dia-semana>
    </div>
    <div class="col-4">
      <app-dia-semana [diaSemana]="'Miércoles'" [comida]="comidas[2]"></app-dia-semana>
    </div>
    <div class="col-4">
      <app-dia-semana [diaSemana]="'Jueves'" [comida]="comidas[3]"></app-dia-semana>
    </div>
    <div class="col-4">
      <app-dia-semana [diaSemana]="'Viernes'" [comida]="comidas[4]"></app-dia-semana>
    </div>
    <div class="col-4">
      <app-dia-semana [diaSemana]="'Sábado'" [comida]="comidas[5]"></app-dia-semana>
    </div>
    <div class="col-4">
      <app-dia-semana [diaSemana]="'Domingo'" [comida]="comidas[6]"></app-dia-semana>
    </div>
  
  </div>
</div>
